/* Glavni elementi svake admin stranice */
.admin_wrapper{
    margin:15px 5% 30px 5%;
}
.admin_sekcija{}
.admin_sekcija_naslov{
    font-size:35;
    color: #272727;
    text-shadow:1px 1px 0px #FFF;
}
.admin_sekcija_opis{
    font-size:18px;
    color: #535353;
    margin-top:-5px;
    text-shadow:1px 1px 0px #FFF;
}
.admin_sekcija_opis2{
    font-size:14px;
    color: #535353;
    margin-top:2px;
    text-shadow:1px 1px 0px #FFF;
}

/* OPCIJE */
#admin_opcije{
	margin:5px 0px; height: 30px;
}
	.admin_opcije_btn{
		float:left;
		background-color:#2e88b3;
		background:linear-gradient(#56a2d1, #2e88b3);
		padding:5px 15px;
		margin:0px 5px;
		color:#FFF;
		border-radius:3px;
		text-shadow:1px 1px 0px rgba(0,0,0,.5);
		border:1px solid #4391b6;
		box-shadow:2px 2px 2px #237398;
		font-size:14px;
		cursor:hand; cursor:pointer;
	}.admin_opcije_btn:first-child{ margin-left:0px; }

/* WRAPPER */
#admin_wrapper{
	margin-top:25px;
}