#korisnik_wrapper{
	margin-top:10px;
	padding: 0px 10%;
}
#korisnik_ime{
	font-size:30pt;
	color: #444444;
	text-shadow: 0px 0px 0px 2px rgba(0,0,0,.1);
	margin-bottom:10px;
}
#korisnik_info{
	width:20%; float:left; margin-right:1%;
}
	#profilAvatar{ width: 100%; }
	.kbBtn{
		background-color: #2e88b3;
		background: linear-gradient(#56a2d1, #2e88b3);
		padding: 3px 15px;
		margin: 0px 5px;
		color: #FFF;
		border-radius: 3px;
		text-shadow: 1px 1px 0px rgba(0,0,0,.5);
		border: 1px solid #4391b6;
		box-shadow: 2px 2px 2px #237398;
		font-size: 14px;
		cursor: hand; cursor: pointer;
		margin-bottom: 5px;
	}

#korisnik_body{
	width:79%; float:left;
}
	.korisnik_box{
		position: relative;
		background-color: #FFF;
		box-shadow: 0px 0px 5px rgba(0,0,0,.10);
		margin-bottom:15px; padding-bottom:3px;
	}
	.korisnik_box_naslov{
		background-color: #fbfbfb;
		border-bottom: 1px solid #ededed;
		padding: 10px;
		box-shadow: 0px 0px 1px rgba(0,0,0,.1);
		font-weight: bold;
		color: #777777;
		font-size: 15px;
	}